.nav-margin {
  margin: 0 0 10px 0;
  padding: 1% 5.5%;
}

/* .Hcard {
  color: red;
} */

.dcc-margin {
  /* text-align: center; */
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 4%;
  margin-bottom: 4%;
}
.Date {
  margin-left: 18px;
}
.div-padding {
  padding: 10px;
}

.margin-everywhere {
  margin: 5px 10px;
}

.bbtn {
  margin-top: 10%;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  color: black;
  background-color: DodgerBlue;
}

.bbbtn{
  width:auto !important;
  margin:0px !important;
}

.create-conf-button{
  /* width:auto !important; */
  margin: 10px auto !important;
  /* padding: 10px 20%; */

}
