.nav-margin {
  margin: 0 0 10px 0;
  padding: 1% 5.5%;
}

.bodypart1-margin {
  text-align: center !important;
  margin: 5% 10%;
}

.bbbtn {
  width: auto !important;
  margin: 0px !important;
  text-align: left !important;
}

.center-h2 {
  text-align: center !important;
}
