.nav-margin {
  margin: 0 0 10px 0;
  padding: 1% 5.5%;
}

.d-margin {
  /* text-align: center; */
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 4%;
  margin-bottom: 4%;
  padding: 20px;
}
@media screen and (min-width: 480px) {
  .d-margin {
  /* text-align: center; */
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 4%;
  margin-bottom: 4%;
  padding: 20px;
  }
}
/* .Hcard {
  color: red;
} */


.div-padding {
  padding: 10px;
}

.margin-everywhere {
  margin: 5px 10px;
}

.forget-btn {
  /* margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%; */
  width: 100%;
  color: black;
  margin: 10px 0;
  background-color: DodgerBlue;
}
.btn{
  width: 100%;
}

.ph-center {
  text-align: center;
  color: grey;
}
