.feedback-title-ontop {
  text-align: center;
  margin: 10px auto;
}

.card-margin {
  margin: 10px 10%;
}

.feedback-button {
  margin: 20px 20px;
}

.bbbtn {
  width: auto !important;
  margin: 0px !important;
}

.access-denied {
  text-align: center;
}